.filtering {
	position: relative;
	left: -5px;
}

.filters {
	overflow: hidden;
	clear: both;
	background: #353530 url(../../../symphony/assets/images/navigation.png) repeat-x 0px -95px;
	margin: 1.5em 0 1.75em 0;
	padding: 1em 19px;
	vertical-align: middle;
	border-top: 1px solid #e6e6e5;
	border-bottom: 1px solid #e6e6e5;
	-webkit-box-shadow: 0px 3px 8px #E9E9E9;
	-moz-box-shadow: 0px 3px 8px #E9E9E9;
}

.filters h3 {
	font: 127.28%/2 'Lucida Grande', Leelawadee, Tahoma, Verdana, sans-serif;
	background: #353530;
	color: #f2f2f2;
	text-shadow: #2B2B27 -1px 2px 2px;
}

.filters .filter {
	width: 510px;
	margin-bottom: 1.2em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(222, 222, 222)),
		color-stop(0.51, rgb(245, 245, 245))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(222, 222, 222) 2%,
		rgb(245, 245, 245) 51%
	);
	-webkit-box-shadow: 1px 0 8px #2E2E2A, 1px 1px 8px #2E2E2A, 0 1px 8px #2E2E2A;
	-moz-box-shadow: 1px 0 8px #2E2E2A, 1px 1px 8px #2E2E2A, 0 1px 8px #2E2E2A;
}

.selectbox {
	position: relative;
	float: left;
	margin: 2px 0 0 1px;
	border-left: 1px solid #CACACA;
	font: 11px/normal 'Lucida Grande', Meiryo, Tahoma, Verdana, sans-serif;
}

.selectbox:focus {
	text-decoration: underline;
}

.selectbox:first-child {
	border: none;
	margin-left: 0;
}

.selectbox .display {
	position: relative;
	display: block;
	margin: 0;
	padding: 0 24px 0 10px;
	height: 23px;
	color: #554;
	line-height: 26px;
	text-decoration:none;
}

.selectbox .display .arrow_btn {
	position: absolute;
	top: 2px; right: 0; bottom: 0;
	width: 20px;
	background: transparent url(images/arrow.png) no-repeat center center;
}

.selectbox .display:focus {
	outline: none;
}

.selectbox .value { display :none; }

.items {
	z-index: 99999;
	display: block;
	overflow: auto;
	max-width: 100%;
	margin: 0;
	background: #fff;
	border: 1px solid #828790;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	list-style: none;
	moz-box-shadow: 0 3px 5px rgba(0,0,0,.5);
	webkit-box-shadow: 0 3px 5px rgba(0,0,0,.5);
}

.items li {
	display: block;
	margin: 0;
	padding:0;
}

.items li:first-child {
	margin-top:0;
}

.items li > a {
	display: block;
	padding: 1px 3px;
	color: #000;
	text-decoration: none;
}

.items li.hover > a {
	background: #6F97BE;
	color: #fcfcfc;
}

.items li.selected a {
	color: #fcfcfc;
}

.items .value{ display: none; }

.filters .filter input {
	height: 22px;
	width: 310px;
	margin: 2px 0 2px 3px;
	padding: 0 5px;
	border: 1px solid #CACACA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 22px;
}

.filters .filter input:focus {
	outline: none;
	border: 1px solid #666;
}

.filters .default input {
	width: 336px;
}

.filters select, .filters input {
	margin-right: 4px;
}

.filters input.button {
	border: none;
	width: auto;
	height: 1.8em;
	padding: 0px 1em 0.2em;
	-webkit-border-radius: 1em 1em;
	-moz-border-radius: 1em 1em;
	border-radius: 1em 1em;
	background: #887;
	color: #f2f2f2;
	font-size: 1em;
	line-height: 1.8em;
}

.filters .button:hover {
	background: #a1a18c;
	cursor: pointer;
}

.filters .filter input.button {
	position: relative;
	top: 1px;
	float: right;
	width: 17px;
	height: 16px;
	margin: 5px 6px 0 0;
	padding: 0;
	background: transparent url(images/delete.png) 0 0 no-repeat;
	text-indent: -999px;
}

.filters .filter .button:hover {
	background: transparent url(images/delete.png) 0 -16px no-repeat;
}

.filters input.apply {
	margin: 0.8em 0;
}
